AWSTemplateFormatVersion: "2010-09-09"

Description: AWS CloudFormation Starter Template

Parameters:
  MyStackInput:
    Type: Number
    Description: A random number

Resources:
  StarterBucket{{ Stack.Inputs.MyStackInput }}:
    Type: "AWS::S3::Bucket"
    Properties:
      BucketName:
        Fn::Sub: ${AWS::AccountId}-starter-bucket-${MyStackInput}
      Tags:
        - Key: Name
          Value: 
            Fn::Sub: ${AWS::AccountId}-starter-bucket-${MyStackInput}